
<div class="login"  >
    <div class="con">
        <div class="email">
            <ul>
                <li><a href="/profile">Profile</a></li>
                <li><a class="active" href="#home">Course Management</a></li>
                <li><a href="EmailPage.html">Student Management</a></li>

            </ul></div>
      

    </div>
</div>


