<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="index.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="../public/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="../public/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="../public/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="../public/css/flaticon.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="../public/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="../public/css/slick.css">
    <link rel="stylesheet" href="../public/css/gijgo.min.css">
    <link rel="stylesheet" href="../public/css/nice-select.css">
    <link rel="stylesheet" href="../public/css/all.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Fitness Club Login</title>
    <link rel="stylesheet" href="././public/css/layout.css">

</head>

<body>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="/public/img/loginpicture.png"
                     alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form action="/login" method="POST" class="validated-form" id = "form_login" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="text" id="emailValue" name="emailValue" autofocus required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="psword" name="psword" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>