<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="index.js"></script>

    <title>Fitness Club Login</title>
    <link rel="stylesheet" href="././public/css/layout.css">

</head>

<body>

<div class="login"  >

    <div class="form">
            <form method = "POST" id = "form_login" enctype="application/x-www-form-urlencoded" action = "/login">
            <label ><strong>EMAIL</strong></label><br>
            <input type="email" name="emailValue" placeholder="" required/><br><br>

            <label><strong>PASSWORD</strong></label><br>
            <input type="password" name="psword" placeholder="" required/><br><br><br><br>
                <input type="submit" onclick="location.href='/profile';"value="Log In"  />
            </form>

                <input type="submit" onclick="location.href='/signup'; "value="Sign Up"/>


    </div>

    <div class="footer">
    </div>
</div>
</body>
</html>