<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="index.js"></script>

    <title>Fitness Club Login</title>
    <link rel="stylesheet" href="././public/css/layout.css">

</head>

<body>

<div class="prf">
    <div class="profile">
        <img src="" alt="" width="71" height="71"  />

    </div>
    <div class="profile1">
        <h2>{{user.first_name}} {{user.lastname}}</h2>
        <h2>{{user.email}}</h2>
        <h2>{{user.age}}</h2>
</div>
</div>
    </div>

    <div class="footer">
    </div>
</div>
</body>
</html>