<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="index.js"></script>

    <title>Fitness Club Login</title>
    <link rel="stylesheet" href="././public/css/layout.css">

</head>

<body>

<div class="login"  >

    <form method = "POST" id = "account" action="/login/newAccount">

            <label ><strong>FIRST NAME</strong></label><br>
            <input type="text" name="fname" placeholder="" required/><br><br>
            <label ><strong>LAST NAME</strong></label><br>
            <input type="text" name="lname" placeholder="" required/><br><br>
            <label ><strong>AGE</strong></label><br>
            <input type="number" name="ageValue" placeholder="" required/><br><br>
            <label ><strong>PHONE</strong></label><br>
            <input type="text" name="phoneValue" placeholder="" required/><br><br>
            <label ><strong>E-MAIL</strong></label><br>
            <input type="email" name="emailValue"  placeholder="name@example.com"  required/><br><br>
            <label ><strong>ADDRESS</strong></label><br>
            <input type="text" name="addressValue" placeholder="" required/><br><br>
            <label ><strong>ZIPCODE</strong></label><br>
            <input type="text" name="zipcodeValue" placeholder="" required/><br><br>
        <label ><strong>USER NAME</strong></label><br>
        <input type="text" name="user_name" placeholder="" required/><br><br>
            <label><strong>PASSWORD</strong></label><br>
            <input type="password" name="psword" placeholder="" required/><br><br>
            <label><strong>CONFIRM PASSWORD</strong></label><br>
            <input type="password" name="password" placeholder="" required/><br><br>
            <ul>
                <li> <input type="submit" onclick="location.href='/';"value="Back"  /></li>
                <li>  <input type="submit" onclick="location.href='/signup';" value="Contiue"/></li>

            </ul>

        </form>
    </div>



</body>
</html>
