<h1>Edit Trianers</h1>
<form action="/fitclub/trainers" method="POST">
    <div>
        <label for="first_name">First_name</label>
        <input type="text" id="first_name" name="first_name">
    </div>
    <div>
        <label for="last_name">First_name</label>
        <input type="text" id="last_name" name="last_name">
    </div>
</form>